.wrapper,
.map {
    height: 100%;
}

.wrapper {
    position: relative;
}

.time-player {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9998; 
}