<div class="map-chart-selector">
    <form class="radio-list">
        @for (type of sensorTypes(); track $index) {
            <div class="radio">
                <input type="radio" class="radio__input" [id]="id() + '_' + type.id" [value]="type.id" [disabled]="isDisabled()" [(ngModel)]="selectedSensorType" [ngModelOptions]="{standalone: true}" (ngModelChange)="sensorTypeSelected.emit($event)">
                <label [style.maskImage]="'url(' + type.iconUrl + ')'" [for]="id() + '_' + type.id" class="radio__icon"></label>
            </div>
        }
    </form>
</div>