.map-chart {
    height: 100%;
}

.map-chart__header {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart-datepicker {
    height: 24px;
}

.chart {
    height: calc(100% - 24px - 40px - 40px);
}

.chart-selector {
    height: 40px;
}