.tenant-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: nowrap;
    padding: 8px;
    border-radius: 8px;
}

.tenant-card--selected {
    background-color: var(--primary-100);
}

.tenant__info {
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    padding: 8px;
}

.tenant__info p {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tenant__status {
    display: inline-block;
    min-height: 12px;
    min-width: 12px;
    border-radius: 100%;
    background-color: red;
}

.tenant__status--loaded {
    background-color: green;
}

.tenant__actions {
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    padding: 8px;
}

.tenant__action {
    padding: 0;
    height: 24px;
    width: 24px;
    background-color: var(--neutral-100);
    border: 1px solid var(--neutral-500);
    border-radius: 4px;
    padding: 4px;

    &:hover {
        background-color: var(--primary-100);
    }

    &:disabled {
        cursor: not-allowed;
        opacity: .5;
    }

    &:hover:disabled {
        background-color: unset;
    }
}

.action-icon {
    display: flex;
    width: 100%;
    height: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    background-color: var(--primary-900, black);
}

.tenant__action--alert {
    &:hover {
        background-color: #ff00001a;
    }
}

.tenant__action--alert .action-icon {
    background-color: #ff0000;
}

.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px var(--shadow-color);
        // box-shadow: 0 0 0 0px blue;
    }

    100% {
        box-shadow: 0 0 0 8px transparent;
    }
}