<div class="map-popup">
    <p class="title">{{data()['name'] ?? 'name' }}</p>
    <p class="greyed">
        {{data()['shortCode'] ?? data()['code'] ?? 'shortCode' }}
        @if (data()['municipality']) {
            - {{data()['municipality']}}
        }
    </p>
        @if (data()['value'] | isArray) {
            <div class="values">
                @for (value of data()['value']; track $index) {
                    <div class="value-group">
                        <p class="value">
                            {{value | number: '1.2-2'}}
                            @if (data()['uom'] && data()['uom'] | isArray) {
                                {{data()['uom'][$index]}}
                            }
                        </p>
                        <p class="greyed">
                            @if (data()['layerLabel'] && data()['layerLabel'] | isArray) {
                                {{data()['layerLabel'][$index]}}
                            }
                        </p>
                        <p>
                            @if (data()['refDate'] && data()['refDate'] | isArray) {
                                @if (data()['refDate'][$index] | isDate) {
                                    {{data()['refDate'][$index] | date: 'dd/MM/yyyy - HH:mm'}}
                                }
                            }
                        </p>
                    </div>
                }
            </div>
        }
        @else {
            <div class="values">
                <p class="value">
                    {{data()['value'] | number: '1.2-2'}}
                    @if (data()['uom']) {
                        {{data()['uom']}}
                    }
                </p>
            </div>
        }
    <p class="greyed">lat: {{data()['lat'] ?? 0.00}} - lng: {{data()['lng'] ?? 0.00}}</p>
    @if (data()['refDate'] && data()['refDate'] | isDate) {
        <p>{{data()['refDate'] | date: 'dd/MM/yyyy - HH:mm'}}</p>
    }
</div>