p {
    margin: 0;
}

.title {
    font-size: 1rem;
}

.weight-regular {
    font-weight: 400;
}

.weight-bold {
    font-weight: 600;
}

.regular {
    font-size: 1rem;
}

.small {
    font-size: .86rem;
}

.big {
    font-size: 1.85rem;
}

.greyed {
    color: var(--neutral-600, lightgrey);
}

.map-popup {
    background-color: var(--neutral-100, white);
}

.values,
.station-value {
    display: flex;
    flex-direction: column;
}

.values {
    gap: 24px;
    margin: 12px 0;
}

.station-value {
    gap: 2px;
}

.popup-footer {
    border-top: 1px solid var(--neutral-500, grey);
    padding: 16px 0 0 0;
    margin: 16px 0 0 0;
}

.chart-btn {
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: 500;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-900, black);
    background-color: transparent;

    &:hover {
        color: var(--primary-500, blue);
    }
}

.chart-btn__icon {
    width: 20px;
    height: 20px;
}