<div class="map-popup">
    @if (data().length > 0) {
    <p class="title regular weight-bold">
        @if (config().name) { {{data()[0].name}} }
        @if (config().alt) { ({{data()[0].alt}}m) }
    </p>
    <p class="small greyed">
        @if (config().id) { {{data()[0].id}} }
        @if (config().id && config().city) { - }
        @if (config().city) { {{data()[0].city}} }
    </p>
    }

    <div class="values">
        @for (item of data(); track `${item.id}_${item.label}`) {
        <div class="station-value">
            <p class="small">@if(config().label) { {{item.label}} }</p>
            <p class="big weight-bold">
                @if(config().value) { {{item.value | number: '1.2-2'}} }
                @if(config().unit) { <span class="regular weight-regular greyed">{{item.unit}}</span> }
            </p>
            <p class="small greyed">@if(config().date) { {{item.date | date: 'dd/MM/yyyy - hh:mm'}} }</p>
        </div>
        }
    </div>

    @if (data().length > 0) {
    <p class="small">
        @if(config().lat) { {{data()[0].lat}} }
        @if(config().lat && config().lng) { , }
        @if(config().lng) { {{data()[0].lng}} }
    </p>
    }

    <!-- @for (item of data(); track item.id) {
        <div class="station">            
            <p class="title">
                @if (config().name) { {{item.name}} }
                @if (config().alt) { ({{item.alt}}m) }
            </p>

            <p class="greyed">
                @if (config().id) { {{item.id}} }
                @if (config().id && config().city) { - }
                @if (config().city) { {{item.city}} }
            </p>

            <p class="station__label greyed">
                @if (config().label) { {{item.label}} }
            </p>

            <p class="station__value">
                @if (config().value) { {{item.value | number: '1.2-2'}} }
                @if (config().unit) { {{item.unit}} }
            </p>

            <p>
                @if (config().date) { {{item.date | date: 'dd/MM/yyyy - HH:mm'}} }
            </p>

            <p class="greyed">
                @if (config().lat) { lat: {{item.lat}} }
                @if (config().lat && config().lng) { - }
                @if (config().lng) { lng: {{item.lng}} }
            </p>
        </div>
    } -->



    <!-- <p class="title">{{data()['name'] ?? 'name' }}</p>
    <p class="greyed">
        {{data()['shortCode'] ?? data()['code'] ?? 'shortCode' }}
        @if (data()['municipality']) {
            - {{data()['municipality']}}
        }
    </p>
        @if (data()['value'] | isArray) {
            <div class="values">
                @for (value of data()['value']; track $index) {
                    <div class="value-group">
                        <p class="value">
                            {{value | number: '1.2-2'}}
                            @if (data()['unit'] && data()['unit'] | isArray) {
                                {{data()['unit'][$index]}}
                            }
                        </p>
                        <p class="greyed">
                            @if (data()['layerLabel'] && data()['layerLabel'] | isArray) {
                                {{data()['layerLabel'][$index]}}
                            }
                        </p>
                        <p>
                            @if (data()['refDate'] && data()['refDate'] | isArray) {
                                @if (data()['refDate'][$index] | isDate) {
                                    {{data()['refDate'][$index] | date: 'dd/MM/yyyy - HH:mm'}}
                                }
                            }
                        </p>
                    </div>
                }
            </div>
        }
        @else {
            <div class="values">
                <p class="value">
                    {{data()['value'] | number: '1.2-2'}}
                    @if (data()['unit']) {
                        {{data()['unit']}}
                    }
                </p>
            </div>
        }
    <p class="greyed">lat: {{data()['lat'] ?? 0.00}} - lng: {{data()['lng'] ?? 0.00}}</p>
    @if (data()['refDate'] && data()['refDate'] | isDate) {
        <p>{{data()['refDate'] | date: 'dd/MM/yyyy - HH:mm'}}</p>
    } -->
</div>