<div class="map-popup">
    @if (data().length > 0) {
    <p class="title regular weight-bold">
        @if (config().name) { {{data()[0].name}} }
        @if (config().alt) { ({{data()[0].alt}}m) }
    </p>
    <p class="small greyed">
        @if (config().id) { {{data()[0].id}} }
        @if (config().id && config().city) { - }
        @if (config().city) { {{data()[0].city}} }
    </p>
    }

    <div class="values">
        @for (item of data(); track `${item.id}_${item.label}`) {
        <div class="station-value">
            <p class="small">@if(config().label) { {{item.label}} }</p>
            <p class="big weight-bold">
                @if(config().value) { {{item.value | number: '1.2-2'}} }
                @if(config().unit) { <span class="regular weight-regular greyed">{{item.unit}}</span> }
            </p>
            <p class="small greyed">@if(config().date) { {{item.date | date: 'dd/MM/yyyy - hh:mm'}} }</p>
        </div>
        }
    </div>

    @if (data().length > 0) {
    <p class="small">
        @if(config().lat) { {{data()[0].lat}} }
        @if(config().lat && config().lng) { - }
        @if(config().lng) { {{data()[0].lng}} }
    </p>
    }

    <div class="popup-footer">
        <button type="button" class="chart-btn" (click)="btnClicked.emit()">
            <span>Grafici</span>
            <span class="chart-btn__icon">
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="currentColor">
                    <path d="M522-480 333-669l51-51 240 240-240 240-51-51 189-189Z" />
                </svg>
            </span>
        </button>
    </div>
</div>