p {
    font-size: 1rem;
    margin: 4px;
}

.title {
    font-weight: 600;
}

.greyed {
    color: var(--neutral-600, lightgrey);
}

.values {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    gap: 32px;
}

.value {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0 0 -4px 0;
}