<div class="checkbox-list" [formGroup]="form">
    <div class="list" formArrayName="options">
        @for (option of options(); track $index) {
            @if (!option.options) {
                <div [formGroup]="$any(optionsArray.controls[$index])">
                    <app-checkbox formControlName="isChecked" [id]="option.id"></app-checkbox>
                </div>
            }
            @else {
                <details open>
                    <summary>Gruppo: {{option.id}}</summary>
                    <div [formGroup]="$any(optionsArray.controls[$index])">
                        <app-checkbox-list [parentGroup]="$any(optionsArray.controls[$index])" [maxSelections]="option.maxSelections ?? -1" [options]="option.options"></app-checkbox-list>
                    </div>
                </details>
            }
        }
    </div>
</div>