.floating-dialog {
    position: fixed;
    z-index: 9999999;
    top: calc((100dvh - 70dvh) / 2);
    left: calc((100dvw - 80dvh) / 2);
    background-color: var(--neutral-100, white);
    border: 1px solid var(--neutral-500, grey);
    border-radius: 8px;
    resize: none;
    overflow: hidden;
    transform-origin: bottom right;
    width: 80dvh;
    height: 70dvh;
    min-width: 70dvh;
    min-height: 70dvh;
    max-width: 95dvw;
    max-height: 95dvh;
}

.dragger {
    cursor: grab;
    height: 24px;
    width: 100%;
    background-color: var(--neutral-200, lightgrey);
    border-bottom: 1px solid var(--neutral-500, grey);
}

.floating-dialog__content {
    height: calc(100% - 24px);
    padding: 16px;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.resizer {
    cursor: nwse-resize;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: scale(-1, 1);
}

.full-toggle {
    display: none;
}

@media screen and (max-width: 768px) {
    .floating-dialog {
        min-width: unset !important;
        min-height: unset !important;
        // width: 95dvw !important;
        // height: 90dvh !important;
        width: 100dvw !important;
        height: 50dvh !important;
        // top: calc((100dvh - 80dvh) / 2) !important;
        // left: calc((100dvw - 95dvw) / 2) !important;
        top: 0 !important;
        left: 0 !important;
        max-width: 100dvw !important;
        max-height: 100dvh !important;
    }

    .floating-dialog.fullscreen {
        height: 100dvh !important;
    }

    .resizer {
        display: none;
    }

    .full-toggle {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
        width: 24px;
        position: absolute;
        right: 0;
        bottom: 0;
        transform: scale(-1, 1);
    }
}