.floating-dialog {
    position: absolute;
    z-index: 9999999;
    bottom: 0;
    left: 0;
    background-color: white;
}

.dragger {
    cursor: grab;
    background-color: red;
    height: 20px;
    width: 100%;
}