<div class="input-autocomplete" #container>
    <input part="input" class="input" [type]="type()" [placeholder]="placeholder()" (focus)="onInputFocus()" (keydown)="onInputKeydown($event)" (input)="onInput($event)" #input>

    <button class="reset" (click)="onOptionClick('')">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#e3e3e3"><path d="m291-240-51-51 189-189-189-189 51-51 189 189 189-189 51 51-189 189 189 189-51 51-189-189-189 189Z"/></svg>
        </span>
    </button>

    @if (filteredOptions.length > 0) {
        <div class="options" part="options">
            @for (option of filteredOptions; track option.id; let index = $index) {
                <span class="option" [attr.part]="'option ' + (focusedOption === index ? 'selected' : '')" [class.option--selected]="focusedOption === index" (click)="onOptionClick(option.id)" #option>{{option.label ? option.label : option.id}}</span>
            }
        </div>
    }
</div>