<form class="datepicker" [formGroup]="form">
    <button type="button" class="button" [disabled]="isLoading()" (click)="onStepBtnClick('backward')">
        <span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"
                fill="currentColor">
                <path d="M816-264 480-480l336-216v432Zm-384 0L96-480l336-216v432Z" />
            </svg>
        </span>
    </button>

    <input type="datetime-local" class="styled-input" formControlName="date">

    <button type="button" class="button" [disabled]="isLoading()" (click)="onStepBtnClick('forward')">
        <span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"
                fill="currentColor">
                <path d="M144-264v-432l336 216-336 216Zm384 0v-432l336 216-336 216Z" />
            </svg>
        </span>
    </button>
</form>