<div class="page">
    <app-header [isAuth]="user ? true : false"></app-header>
    <div class="main">        
        <!-- START SIDEBAR -->
        <app-sidebar #sidebar height="calc(100dvh - 48px)" width="364px" iconUrl="images/icons/menu_open_20dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg" backgroundColor="#ffffffcc">
            <div ngProjectAs="sidebar-content" class="sidebar-content">
                <h3>Tabelle</h3>
                @for (group of navGroups; track group.id) {
                    <a class="table-link" [routerLink]="'/tabelle/' + group.id" routerLinkActive="table-link--active">{{group.label ?? group.id}}</a>
                }
            </div>
        </app-sidebar>
        <!-- END SIDEBAR -->

        <div class="content">
            <!-- START MAIN -->

            <!-- START TITLE -->
            @if (configGroup) {
                <div class="page-title">
                    <h2>{{configGroup.label ?? configGroup.id}}</h2>
                </div>
            }
            <!-- END TITLE -->

            <!-- START CONTROLS -->
            <div class="controls">
                @if (configGroup) {
                    <div class="select-row">
                        <label class="label">Tipo sensore</label>
                        <form [formGroup]="form">
                            <select formControlName="select" class="styled-select">
                                @for (option of configGroup.options; track $index) {
                                    <option [value]="option.id" [selected]="$index === 0">{{option.label ?? option.id}}</option>
                                }
                            </select>
                        </form>
                    </div>
                }

                <div class="update-time">
                    <label class="label">Data misurazione</label>
                    <app-datepicker [date]="selectedDate" (dateChanged)="onDateChange($event)"></app-datepicker>
                </div>
            </div>
            <!-- END CONTROLS -->

            <!-- START FILTERS -->
            <ng-template #filtersContent>
                @if (filters) {
                <div [formGroup]="filters" class="filters styled-details__content">
                    @for (keyvalue of filterKeys | keyvalue; track $index) {
                        <app-input-autocomplete [formControlName]="keyvalue.key" class="autocomplete" type="text" [placeholder]="keyvalue.key | mapValue: tableLabels" [options]="keyvalue.value"></app-input-autocomplete>
                    }
                </div>
                }
            </ng-template>

            <!-- Start desktop -->
            <div class="filters-wrapper--desktop">
                <ng-container *ngTemplateOutlet="filtersContent"></ng-container>
            </div>      
            <!-- End desktop -->
            <!-- Start mobile -->
            <div class="filters-wrapper--mobile">
                <details class="styled-details">
                    <summary class="summary">Filtri</summary>
                    <ng-container *ngTemplateOutlet="filtersContent"></ng-container>
                </details>
            </div>
            <!-- End mobile -->
            <!-- END FILTERS -->

            <!-- START TABLE -->
            <app-sortable-table scrollableTable #table>
                <div class="table">
                    <div class="thead">
                        <div class="trow">
                            @for (d of sortedData.header; track $index) {
                                <div class="tdata"><app-sort-header [sortBy]="d" (sortData)="sortData($event); table.resetAllSortHeaders(d)">{{d | mapValue: tableLabels}}</app-sort-header></div>
                            }
                        </div>
                    </div>
                    <div class="tbody">
                        @for (r of sortedData.body; track $index) {
                            <div class="trow" (click)="onTableRowClick(r)">
                                @for (d of r; track $index) {
                                    <div class="tdata"><p>
                                        @if (d[1] | isDate) {
                                            {{d[1] | date: 'dd/MM/yyyy - hh:mm'}}
                                        }
                                        @else {
                                            {{d[1]}}
                                        }
                                    </p></div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </app-sortable-table>
            <!-- END TABLE -->

            <!-- START DOWNLOAD BUTTON -->
            <button type="button" class="fab csv-btn" (click)="onDownloadBtnClick()">
                <span class="mask-icon"></span>
            </button>
            <!-- END DOWNLOAD BUTTON -->

            <!-- END MAIN -->
        </div>
    </div>
</div>