// label.custom-checkbox {
//     position: relative;
//     cursor: pointer;

//     input[type="checkbox"] {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 0;
//         height: 0;
//         opacity: 0;
//         visibility: hidden;
//     }

//     span.custom-checkbox__checkmark {
//         position: absolute;
//         top: 0;
//         left: 0;
//         height: 16px;
//         width: 16px;
//         background-color: #fff;
//         border: 1px solid #000;
//     }

//     span.custom-checkbox__checkmark::after {
//         content: '';
//         position: absolute;
//         display: none;
//         left: 4px;
//         top: -4px;
//         width: 4px;
//         height: 16px;
//         border: solid white;
//         border-width: 0 2px 2px 0;
//         -webkit-transform: rotate(45deg);
//         -ms-transform: rotate(45deg);
//         transform: rotate(45deg);
//     }

//     span.custom-checkbox__checkmark:has( + input[type="checkbox"]:checked) {
//         background-color: green;
//     }

//     span.custom-checkbox__checkmark:has( + input[type="checkbox"]:checked)::after {
//         display: block;
//     }

//     &:hover span.custom-checkbox__checkmark {
//         background-color: red;
//     }
// }

// <div class="custom-checkbox">
//   <input id="example-1" class="custom-checkbox__input" type="checkbox" aria-hidden="true" />
//   <label for="example-1">Checkbox</label>
// </div>

// <style>
.custom-checkbox *,
.custom-checkbox ::after,
.custom-checkbox ::before {
    cursor: pointer;
    box-sizing: border-box;
}

.custom-checkbox {
    display: flex;
    align-items: center;
}

.custom-checkbox [type=checkbox].custom-checkbox__input {
    margin: 0;
    width: 0;
    height: 0;
    display: inline;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-checkbox .custom-checkbox__label {
    display: flex;
    align-items: center;
}

.custom-checkbox [type=checkbox].custom-checkbox__input+label:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    height: 1.15em;
    width: 1.15em;
    margin-right: 0.4em;
    color: rgba(0, 0, 0, 0.275);
    border: solid 0.06em;
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em inset, 0 0 0 0.07em transparent inset;
    border-radius: 0.2em;
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="white" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>') no-repeat center, white;
    background-size: 0;
    will-change: color, border, background, background-size, box-shadow;
    transform: translate3d(0, 0, 0);
    transition: color 0.1s, border 0.1s, background 0.15s, box-shadow 0.1s;
}

.custom-checkbox [type=checkbox].custom-checkbox__input:enabled:active+label:before,
.custom-checkbox [type=checkbox].custom-checkbox__input:enabled+label:active:before {
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset;
    background-color: #f0f0f0;
}

.custom-checkbox [type=checkbox].custom-checkbox__input:checked+label:before {
    background-color: #3B99FC;
    background-size: 0.75em;
    color: rgba(0, 0, 0, 0.075);
}

.custom-checkbox [type=checkbox].custom-checkbox__input:checked:enabled:active+label:before,
.custom-checkbox [type=checkbox].custom-checkbox__input:checked:enabled+label:active:before {
    background-color: #0a7ffb;
    color: rgba(0, 0, 0, 0.275);
}

.custom-checkbox [type=checkbox].custom-checkbox__input:focus+label:before {
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(65, 159, 255, 0.55), 0 0 0 5px rgba(65, 159, 255, 0.3);
}

.custom-checkbox [type=checkbox].custom-checkbox__input:focus:active+label:before,
.custom-checkbox [type=checkbox].custom-checkbox__input:focus+label:active:before {
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(65, 159, 255, 0.55), 0 0 0 5px rgba(65, 159, 255, 0.3);
}

.custom-checkbox [type=checkbox].custom-checkbox__input:disabled+label:before {
    opacity: 0.5;
}

.custom-checkbox [type=checkbox].custom-checkbox__input.dark+label:before {
    color: rgba(255, 255, 255, 0.275);
    background-color: #222;
    background-image: url('data:image/svg + xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="rgba(34, 34, 34, 0.999)" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>');
}

.custom-checkbox [type=checkbox].custom-checkbox__input.dark:enabled:active+label:before,
.custom-checkbox [type=checkbox].custom-checkbox__input.dark:enabled+label:active:before {
    background-color: #444;
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(255, 255, 255, 0.1) inset;
}

.custom-checkbox [type=checkbox].custom-checkbox__input.dark:checked+label:before {
    background-color: #a97035;
    color: rgba(255, 255, 255, 0.075);
}

.custom-checkbox [type=checkbox].custom-checkbox__input.dark:checked:enabled:active+label:before,
.custom-checkbox [type=checkbox].custom-checkbox__input.dark:checked:enabled+label:active:before {
    background-color: #c68035;
    color: rgba(0, 0, 0, 0.275);
}

.custom-checkbox [type=checkbox].custom-checkbox__input+label {
    -webkit-user-select: none;
    user-select: none;
}

// </style>