.link {
    color: var(--primary-500, blue);
    text-decoration: none;
    font-weight: 500;

    &:hover {
        color: var(--primary-300, lightblue);
    }
    
    &:active {
        color: var(--primary-500, blue);
    }
}