@use 'index' as mixins;
@include mixins.header-position;

.content {
    height: 100%;
    max-width: 600px;
    margin: auto;
    padding: 40px 4%;
}

.title {
    text-align: center;
    margin: 0 0 16px 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.dates {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.dates__input {
    width: 100%;
}

.save-button {
    display: flex;
    justify-content: center;
}

.save-button__btn {
    @include mixins.primaryButton(var(--primary-400), var(--neutral-400), var(--primary-500), var(--primary-300));
    width: 100%;
}

.sidebar__content.tenants-sidebar {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.tenants-sidebar {
    padding: 24px;
}

.tenants-sidebar h3 {
    padding: 0 0 0 40px;
}

.tenants-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

@media screen and (max-width: 768px) {
    .content {
        max-width: unset;
    }

    .dates {
        flex-direction: column;
    }

    app-loading-btn {
        width: 100%;
    }

    .save-button {
        position: fixed;
        left: 0;
        bottom: 72px;
        width: 100%;
        padding: 0 4%;
    }
}