<div class="page">
    <app-header></app-header>
    <div class="main">
        <!-- START SIDEBAR -->
        <app-sidebar height="calc(100dvh - 48px)" width="360px" iconUrl="images/icons/menu_open_20dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg">
            <div ngProjectAs="sidebar-content" class="sidebar-content">
                <h3>Tabelle</h3>
                @for (group of navGroups; track group.id) {
                    <details name="tables" class="styled-details">
                        <summary class="summary" class="table-links-title">{{group.label ?? group.id}}</summary>
                        <div class="styled-details__content table-links">
                            @for (option of group.options; track option.id) {
                                <a class="table-link" [routerLink]="'/tabelle/' + option.id" routerLinkActive="table-link--active">{{option.label ?? option.id}}</a>
                            }
                        </div>
                    </details>
                }
            </div>
        </app-sidebar>
        <!-- END SIDEBAR -->
        
        <div class="content">
            <!-- START MAIN -->
             <div class="update-time">
                <p class="update-time__text">Ultimo aggiornamento {{updateTime | date: 'short'}}</p>
             </div>

            <!-- START FILTERS -->
            <ng-template #filtersContent>
                <div [formGroup]="filters" class="filters styled-details__content">
                    @for (keyvalue of filterKeys | keyvalue; track $index) {
                        <app-input-autocomplete [formControlName]="keyvalue.key" class="autocomplete" type="text" [placeholder]="keyvalue.key" [options]="keyvalue.value"></app-input-autocomplete>
                    }
                </div>
            </ng-template>

            <!-- Start desktop -->
            <div class="filters-wrapper--desktop">
                <ng-container *ngTemplateOutlet="filtersContent"></ng-container>
            </div>      
            <!-- End desktop -->
            <!-- Start mobile -->
            <div class="filters-wrapper--mobile">
                <details class="styled-details">
                    <summary class="summary">Filtri</summary>
                    <ng-container *ngTemplateOutlet="filtersContent"></ng-container>
                </details>
            </div>
            <!-- End mobile -->
            <!-- END FILTERS -->

            <!-- START TABLE -->
            <app-sortable-table scrollableTable #table>
                <table class="table">
                    <thead>
                        <tr>
                            @for (d of sortedData.header; track $index) {
                                <th><app-sort-header [sortBy]="d" (sortData)="sortData($event); table.resetAllSortHeaders(d)">{{d}}</app-sort-header></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @for (r of sortedData.body; track $index) {
                            <tr>
                                @for (d of r; track $index) {
                                    <td>{{d[1]}}</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </app-sortable-table>
            <!-- END TABLE -->

            <!-- END MAIN -->
        </div>
    </div>
</div>