<div class="page">
    <app-header></app-header>
    <div class="main">
        <!-- START SIDEBAR -->
        <!-- <app-sidebar height="calc(100dvh - 48px)" width="360px" iconUrl="icons/menu_open_20dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg">
            <div ngProjectAs="sidebar-content">
                <p>Tabelle</p>
                <p>Massimi precipitazioni</p>
                <p>Estremi temperatura e vento</p>
                <p>Livelli idrometrici</p>
                <p>Valori stazioni</p>
            </div>
        </app-sidebar> -->
        <!-- END SIDEBAR -->
        
        <div class="content">
            <!-- START MAIN -->

            <!-- START FILTERS -->
            <div [formGroup]="filters" class="filters">
                @for (keyvalue of filterKeys | keyvalue; track $index) {
                    <app-input-autocomplete [formControlName]="keyvalue.key" class="autocomplete" type="text" [placeholder]="keyvalue.key" [options]="keyvalue.value"></app-input-autocomplete>
                }
            </div>
            <!-- END FILTERS -->

            <!-- START TABLE -->
            <app-sortable-table scrollableTable #table>
                <table class="table">
                    <thead>
                        <tr>
                            @for (d of sortedData.header; track $index) {
                                <th><app-sort-header [sortBy]="d" (sortData)="sortData($event); table.resetAllSortHeaders(d)">{{d}}</app-sort-header></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @for (r of sortedData.body; track $index) {
                            <tr>
                                @for (d of r; track $index) {
                                    <td>{{d[1]}}</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </app-sortable-table>
            <!-- END TABLE -->

            <!-- END MAIN -->
        </div>
    </div>
</div>