@use 'index' as mixins;
@include mixins.header-position;

.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}

.sidebar__checkboxes {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.summary {
    font-weight: 600;
}

.chips-slider {
    position: fixed;
    z-index: 999;
    top: 64px;
    left: 80px;
    height: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 16px;
    max-width: calc(100dvw - 160px);
    transition: .2s ease-in-out;
}

.chips-slider--collapsed {
    left: calc(360px + 16px);
    max-width: calc(100dvw - 360px - 80px);
    transition: .2s ease-in-out;
}

.layers-menu {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 9998;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pop-up-menu-content {
    padding: 16px;
}

.pop-up-menu-content__title {
    font-weight: 600;
    border-bottom: 1px solid var(--neutral-500, lightgrey);
    padding: 0 8px 8px 8px;
    margin: 0 0 8px 0;
}

.pop-up-menu-content__body {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.legends {
    position: absolute;
    bottom: 80px;
    right: 16px;
    z-index: 9998;
}

.legends .pop-up-menu-content {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.reset-btn {
    position: fixed;
    bottom: 32px;
    right: 16px;
    z-index: 9998;
}

.time-player {
    position: fixed;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9998;
}

.mask-icon {
    @include mixins.maskIcon('/images/icons/zoom_out_map_20dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg');
}

.map-popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

@media screen and (max-width: 992px) {
    .chips-slider {
        top: 16px;
    }

    .geojson-legends .pop-up-menu-content {
        width: calc(80dvw);
    }

    .reset-btn {
        bottom: 80px;
    }

    .time-player {
        bottom: 80px;
    }
}