<div class="page">
    <app-header [userRoles]="user ? user.roles : []">
        @if (user) {
            <app-notification-icon ngProjectAs="additional-menu-item" [notifications]="selectedTenantMsg() ? [selectedTenantMsg()!] : []" iconUrl="./images/icons/search_activity_20dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg"></app-notification-icon>
        }
    </app-header>
    <div class="main">
        <!-- START SIDEBAR -->
        <app-sidebar #sidebar side="left" height="calc(100dvh - 48px)" width="364px" iconUrl="images/icons/menu_open_20dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg" backgroundColor="#ffffffcc" (toggled)="onSidebarToggle($event)">
            <div ngProjectAs="sidebar-content" class="sidebar-content">
                <h3>Livelli</h3>
                @if (user) {
                <button type="button" class="fab save-btn" (click)="onParameterSaveClick()">
                    <span class="save-icon"></span>
                </button>
                }
                <div class="sidebar__checkboxes">
                    @for (group of groupedCheckboxes; track $index) {
                        <app-grouped-checkboxes [group]="group" (changed)="onLayerToggled($event)" [style.display]="group.isVisible ? '' : 'none'" #groupedCheckbox></app-grouped-checkboxes>
                    }
                </div>
            </div>
        </app-sidebar>
        <!-- END SIDEBAR -->

        <!-- START CHIPS SLIDER -->
        <app-slider class="chips-slider" [class.chips-slider--collapsed]="isSliderCollapsed">
            @for (chip of chips; track $index) {
                <app-chip ngProjectAs="slider-content" [id]="chip.id" class="slider-item" [iconUrl]="chip.icon ?? ''" iconColor="gray" [text]="chip.label ?? chip.id" [border]="'1px solid var(--neutral-500, lightgrey)'" (dismiss)="onLayerToggled({ id: $event, isChecked: false })" #sliderItem></app-chip>
            }
        </app-slider>
        <!-- END CHIPS SLIDER -->

        <!-- START LAYERS MENU -->
        <div class="layers-menu">
            @if (baseLayers.length > 0) {
            <app-pop-up-menu class="base-layers-menu" #baseLayersMenu position="bottom-left" maxHeight="250px" iconUrl="images/icons/language_20dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg" (toggled)="onBaseLayersMenuToggle($event)">
                <div ngProjectAs="pop-up-menu-content" class="pop-up-menu-content" [formGroup]="baseLayersForm">
                    <p class="pop-up-menu-content__title">Mappe base</p>
                    <div class="radio-group">
                        @for (item of baseLayers; track item.id) {
                            <div class="radio">
                                <input type="radio" class="radio__input" [id]="item.id" [value]="item.id" formControlName="baseLayer">
                                <label class="radio__label" [for]="item.id">{{item.label}}</label>
                            </div>
                        }
                    </div>
                </div>
            </app-pop-up-menu>
            }
            @if (infoLayers.length > 0) {
            <app-pop-up-menu class="info-layers-menu" #infoLayersMenu position="bottom-left" maxHeight="250px" iconUrl="images/icons/stacks_20dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg" (toggled)="onInfoLayersMenuToggle($event)">
                <div ngProjectAs="pop-up-menu-content" class="pop-up-menu-content" [formGroup]="infoLayersForm">
                    <p class="pop-up-menu-content__title">Livelli informativi</p>
                    @for (item of infoLayers; track item.id) {
                        <div class="checkbox">
                            <label [for]="item.id" class="checkbox__label">
                                <input type="checkbox" [id]="item.id" class="checkbox__input" [formControlName]="item.id">
                                {{item.label || item.id}}
                            </label>
                        </div>
                    }
                </div>
            </app-pop-up-menu>
            }
        </div>        
        <!-- END LAYERS MENU -->

        <!-- START LEGENDS -->
        @if (geojsonLegends.length > 0 || wmsLegends.length > 0) {
            <app-pop-up-menu class="legends" position="top-left" iconUrl="images/icons/list_20dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg" backgroundColor="#ffffffcc" [hasOverflow]="true" #legendsMenu>
                <div ngProjectAs="pop-up-menu-content" class="pop-up-menu-content">                   
                    @for (legend of wmsLegends; track $index) {
                        <app-layer-legend [label]="legend.layerLabel ?? legend.layerId"  [unit]="legend.unit" [date]="legend.date" [imgUrl]="legend.imgUrl"></app-layer-legend>
                    }
                    @for (legend of geojsonLegends; track $index) {
                        <app-layer-legend [label]="legend.layerLabel ?? legend.layerId" [unit]="legend.unit" [colors]="legend.colors" [labels]="legend.labels" [date]="legend.date"></app-layer-legend>
                    }
                </div>
            </app-pop-up-menu>
        }
        <!-- STOP LEGENDS -->

        <!-- START RESET BUTTON -->
        <button type="button" class="fab reset-btn" (click)="onResetMapButtonClick()">
           <span class="mask-icon"></span>
        </button>
        <!-- END RESET BUTTON -->

        <!-- START MAP -->
        <app-map [position]="user && user.geolocation ? [user.geolocation.lng, user.geolocation.lat] : mapConfig.position"
            [maxMarkerDisplayRadius]="user && user.geolocation ? user.geolocation.radius : 999" [zoom]="mapConfig.zoom"
            [maxBounds]="mapConfig.maxBounds" [minZoom]="mapConfig.minZoom" [maxClusterRadius]="mapConfig.maxClusterRadius"
            [isTimeDimensionVisible]="user ? true : false" [selectedDate]="selectedDate" [referenceDate]="referenceDate"
            [maxTimedimensionGap]="settings.layerDataThreshold * 60 * 1000" (click)="onMapClick()"
            (mapClicked)="onMapClicked($event)" (layerAdded)="onMapLayerAdded($event)"
            (zoomAndCenterChanged)="onMapZoomAndCenterChanged($event)"
            (layerRemoved)="onMapLayerRemoved($event)" (layerTimeNotFound)="onMapTimedimensionLayerNotFound($event)"
            (markerClicked)="onMapMarkerClicked($event)" (featureClicked)="onFeatureClicked($event)"
            (dateChanged)="onMapDateChanged($event)" (timeDimensionEvent)="onMapTimedimensionEvent($event)"
            (timeDimensionDateChanged)="onMapAdditionalDateChanged($event)" (popupClicked)="onMapPopupOpenChartBtnClick($event)"
            [timePlayerRange]="timePlayerRange()"
            #map>
            <app-map-popup [config]="stationPopupConfig" [data]="popupData" #popup></app-map-popup>
        </app-map>
        <!-- END MAP -->

        <!-- START WMS DATE -->
        @if (wmsLayersDate) {
            <div class="wms-date fab" [style.bottom]="windowWidth < 992 ? (!user ? '80px' : '176px') : (!user ? '40px' : '96px')">
                <p class="wms-date__text">Ultimo aggiornamento layer raster</p>
                <p>{{wmsLayersDate | date: 'dd/MM/yyyy - HH:mm'}}</p>
            </div>
        }
        <!-- END WMS DATE -->
    </div>

    <!-- START FLOATING CHARTS -->
    @for (chart of charts; track chart.id) {
        <app-floating-dialog (removeDialog)="removeDialog(chart.id)">
            <app-map-chart ngProjectAs="floating-dialog-content" [header]="chart.stationName + ' | ' + chart.currentParameterLabel" [isLoading]="areChartsDisabled" [param]="chart.currentParameter" [canRefresh]="!referenceDate" (formChanged)="onChartParameterChange(chart.stationId, chart.id, $event)">
                <app-map-chart-datepicker #chartDatePicker [defaultGap]="chart.defaultTimeGap ?? 30" [endingDate]="referenceDate"></app-map-chart-datepicker>
                @if (!areChartsDisabled) { <app-plotly-chart ngProjectAs="plotly-chart" [id]="chart.id" [title]="chart.stationName + ' | ' + chart.currentParameterLabel" [xLabel]="chart.xLabel + ' ' + chart.xUnit" [xRange]="chart.xRange ?? []" [data]="chart.data" [thresholds]="chart.thresholds ?? {}" [hideZeroXAxis]="chart.hideZeroXAxis ?? false" [referenceDate]="referenceDate" (onCustomButtonClick)="onChartCustomButtonClick($event)"></app-plotly-chart> }
                <app-map-chart-selector [id]="chart.id" [selectedSensorType]="chart.currentParameter" [sensorTypes]="chart.sensors" [isDisabled]="areChartsDisabled"></app-map-chart-selector>
            </app-map-chart>
        </app-floating-dialog>
    }
    <!-- END FLOATING CHARTS -->

    <!-- START FLOATING IMAGES -->
    @for (img of hydroImgs; track img) {
        <app-floating-dialog (removeDialog)="removeDialog(img)">
            <img ngProjectAs="floating-dialog-content" [src]="img">
        </app-floating-dialog>
    }

    @for (webcam of webcams; track webcam.id) {
        <app-floating-dialog height="auto" minHeight="50dvh" (removeDialog)="removeDialog(webcam.id)">
            <app-webcam ngProjectAs="floating-dialog-content" [header]="webcam.stationName ?? webcam.id" [imgUrl]="webcam.imgUrl"></app-webcam>
        </app-floating-dialog>
    }

    @for (lidar of lidars; track lidar.id) {
        <app-floating-dialog height="auto" minHeight="50dvh" (removeDialog)="removeDialog(lidar.id)">
            <app-tabs ngProjectAs="floating-dialog-content" [tabs]="lidar.imgUrls">
                @for (img of lidar.imgUrls; track $index) {
                    <app-tab [tabId]="img.id"><img [src]="img.imgUrl"></app-tab>
                }
            </app-tabs>
        </app-floating-dialog>
    }
    <!-- END FLOATING IMAGES -->

    <!-- START LOADER -->
    @if (isLoading) {
        <p class="loader-full"><span class="spinner"></span></p>
    }
    <!-- END LOADER -->
</div>