<ng-template #groupTemplate let-group let-parentDefined="parentDefined">
    <div class="tree">
        @if (group.options) {
            <details class="styled-details" [attr.name]="!parentDefined ? 'group' : null">
                <summary class="summary">
                    <div class="summary__text" [style.fontWeight]="!parentDefined ? '600' : '400'">
                        @if (group.iconUrl) {
                            <span [style.maskImage]="'url(' + group.iconUrl + ')'" [style.webkitMaskImage]="'url(' + group.iconUrl + ')'" class="checkbox__icon"></span>
                        }
                        {{group.label || group.id}}
                    </div>
                </summary>
                <div class="styled-details__content">                    
                    @for (child of group.options; track child.id) {
                        <ng-container *ngTemplateOutlet="groupTemplate; context: { $implicit: child, parentDefined: true }"></ng-container>
                    }
                </div>
            </details>
        }
        @else {
            <div class="checkbox">
                <label [style.paddingLeft]="parentDefined && '24px'" [for]="group.id" class="checkbox__label">
                    <input type="checkbox" class="checkbox__input" [id]="group.id" [(ngModel)]="group.isChecked" [disabled]="group.isDisabled" (change)="onCheckboxChange(group, $event)">
                    @if (group.iconUrl) {
                        <span class="checkbox__icon" [style.maskImage]="'url(' + group.iconUrl + ')'" [style.webkitMaskImage]="'url(' + group.iconUrl + ')'"></span>
                    }
                    {{group.label || group.id}}
                </label>
            </div>
        }
    </div>
</ng-template>


<ng-container *ngTemplateOutlet="groupTemplate; context: { $implicit: group(), parentDefined: false }"></ng-container>