<div class="page">
    <app-header></app-header>
    <div class="main">
        <!--START SIDEBAR  -->
        <app-sidebar height="calc(100dvh - 48px)" width="360px" iconUrl="images/icons/menu_open_20dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg">
            <div ngProjectAs="sidebar-content">
                <app-settings-nav-menu></app-settings-nav-menu>
            </div>
        </app-sidebar>
        <!-- END SIDEBAR -->

        <div class="content">  
            <!-- START MAIN -->

            <!-- START SEARCHBAR -->
            <app-searchbar class="searchbar">
                <input type="text" class="app-searchbar__input" placeholder="Cerca per codice stazione..." ngProjectAs="searchbar-input" #input (input)="onSearchInput($event)">
            </app-searchbar>
            <!-- END SEARCHBAR -->

            <!-- START LIST -->
            <div class="stations" [formGroup]="form">
                @for (station of filteredStations; track station.id) {
                    <details name="station" class="styled-details station" [formArrayName]="station.id">
                        <summary class="summary">
                            <div class="summary__text">{{station.id}} - {{station.name}}</div>
                        </summary>
                        <div class="styled-details__content station__sensors">
                            @for (sensor of station.sensors; track $index) {
                                <div class="sensor">
                                    <label class="checkbox">
                                        {{sensor.type}}
                                        <div class="checkbox-toggle">
                                            <div class="checkbox-toggle--slider"></div>                                    
                                            <input type="checkbox" [formControlName]="$index">
                                        </div>
                                    </label>
                                </div>
                            }
                        </div>
                    </details>
                }
            </div>
            <!-- END LIST -->

            <div class="save-button" class="save-button" [class.save-button--hidden]="!form.dirty">
                 <app-loading-button [isLoading]="false" (click)="onSaveButtonCLick()">Salva modifiche</app-loading-button>
            </div>
            <!-- END MAIN -->
        </div>
    </div>
</div>
