@use 'index' as mixins;
@include mixins.header-position;

.main {
    overflow-y: auto;
}

.content {
    max-width: 800px;
    margin: auto;
    padding: 40px 4%;
}

.content__title {
    text-align: center;
    margin: 0 0 24px 0;
}

.searchbar {
    display: block;
    margin: 0 0 40px 0;
}

.stations {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.station {
    border: 1px solid var(--neutral-500, lightgrey);
    border-radius: 8px;

    summary {
        border: none;
        padding: 8px !important;
    }
}

.station__sensors {
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-100, white);
    margin: 0 !important;
    border-radius: 8px;
}

.sensor {
    padding: 8px 8px 8px 48px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--neutral-500, lightgrey);
    border-width: 1px 0 0 0;

    &:hover {
        background-color: var(--primary-100, lightblue);
    }
}

.checkbox {
    cursor: pointer;
    justify-content: space-between;
}

.save-button {
    position: fixed;
    left: 50%;
    bottom: 40px;
    z-index: 999;
    transform: translateX(-50%);
}

.save-button--hidden {
    display: none;
}

.save-button__btn {
    @include mixins.primaryButton(var(--primary-400), var(--neutral-400), var(--primary-500), var(--primary-300));
    width: 100%;
}

@media screen and (max-width: 768px) {
    .save-button {
        bottom: 72px;
        width: 100%;
        padding: 0 4%;
    }

    app-loading-button {
        width: 100%;
    }
}