<div class="page">
    <app-header [userRoles]="user ? user.roles : []" />
    <div class="main">
        <div class="content">
            <p class="credits-title">I partner che hanno collaborato al progetto</p>
            <div class="credits">
                <img src="./images/logo.png" class="credits-logo arpal" alt="Finanziato dall'Unione Europea">
                <img src="./images/credits/regione_liguria_logo.png" class="credits-logo regione" alt="Agenzia cybersicurezza nazionale">
                <img src="./images/credits/alcotra_logo.png" class="credits-logo alcotra" alt="Agenzia cybersicurezza nazionale">
                <img src="./images/credits/riskact_logo.png" class="credits-logo riskact" alt="Agenzia cybersicurezza nazionale">
                <img src="./images/credits/cima_logo.png" class="credits-logo cima" alt="Agenzia cybersicurezza nazionale">
                <img src="./images/credits/finanziato_unione_europea_logo.svg" class="credits-logo eu-funded" alt="Finanziato dall'Unione Europea">
                <img src="./images/credits/dipartimento_trasformazione_digitale_logo.svg" class="credits-logo dipartimento-trasformazione-digitale" alt="Dipartimento della trasformazione digitale">
                <img src="./images/credits/agenzia_cybersicurezza_nazionale_logo.png" class="credits-logo agenzia-cybersicurezza-nazionale" alt="Agenzia cybersicurezza nazionale">
                <img src="./images/credits/marittimo_logo.png" class="credits-logo marittimo" alt="Marittimo">
                <img src="./images/credits/proterina_logo.png" class="credits-logo proterina" alt="Proterina">
                <img src="./images/credits/ett_logo.png" class="credits-logo ett" alt="Agenzia cybersicurezza nazionale">
            </div>
        </div>
    </div>
</div>