<div class="scrollable-table">
    <div class="header">
        @for (item of header(); track $index; let first = $first) {
            <span class="header__element" [class.header__element--first]="first">{{item}}</span>
        }
    </div>
    <div class="body">
        @for (row of body(); track $index) {
            <div class="body__row">
                @for (data of row; track $index; let first = $first) {
                    <span class="data" [class.data--first]="first">{{data[1]}}</span>
                }
            </div>
        }
    </div>
</div>