<div class="page">
    <app-header [userRoles]="user ? user.roles : []">
        @if (user) {
            <app-notification-icon ngProjectAs="additional-menu-item" [notifications]="selectedTenantMsg() ? [selectedTenantMsg()!] : []" iconUrl="./images/icons/search_activity_20dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg"></app-notification-icon>
        }
    </app-header>
    <div class="main">
        <!--START SIDEBAR  -->
        <app-sidebar height="calc(100dvh - 48px)" width="364px" iconUrl="images/icons/menu_open_20dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg" backgroundColor="#ffffffcc">
            <div ngProjectAs="sidebar-content">
                <app-settings-nav-menu></app-settings-nav-menu>
            </div>
        </app-sidebar>
        <!-- END SIDEBAR -->

        <!-- START CONTENT -->
        <div class="content">
            <h3 class="title">Configurazione popup</h3>
            @if (isConfigLoaded) {
                <form class="form" [formGroup]="form" (submit)="onFormSubmit()">
                    <div class="configs">
                        @for (entry of form.controls | keyvalue; track $index) {
                            <div class="custom-checkbox">
                                <input class="custom-checkbox__input" [id]="entry.key" type="checkbox" [formControlName]="entry.key">
                                <label class="custom-checkbox__label" [for]="entry.key">{{entry.key | mapValue: popupConfig}}</label>
                            </div>
                        }
                    </div>
                    <div class="save-button" class="save-button">
                        <app-loading-btn [isLoading]="isLoading">
                            <button #button class="save-button__btn" type="submit" [disabled]="form.invalid || !form.dirty">Salva modifiche</button>
                        </app-loading-btn>
                </div>
                </form>
            }
        </div>
        <!-- END CONTENT -->
    </div>
</div>