@use 'index' as mixins;
@include mixins.header-position;

.content {
    height: 100%;
    max-width: 400px;
    margin: auto;
    padding: 40px 4%;
}

.title {
    text-align: center;
    margin: 0 0 16px 0;
}

.configs {
    margin: 0 0 48px 0;
}

.save-button {
    display: flex;
    justify-content: center;
}

.save-button--hidden {
    display: none;
}

.save-button__btn {
    @include mixins.primaryButton(var(--primary-400), var(--neutral-400), var(--primary-500), var(--primary-300));
    width: 100%;
}

app-loading-btn {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .content {
        max-width: unset;
        padding: 80px 4%;
    }

    .save-button {
        position: fixed;
        left: 0;
        bottom: 72px;
        width: 100%;
        padding: 0 4%;
    }
}