<div class="nav-menu">
    <ul class="menu">
        @for (route of menu; track route.path) {
             @if ((!route.requiresAuth || userRoles().length > 0) && (!route.requiredRole || (route.requiredRole | arrayIncludes: userRoles()))) {
                <div class="menu__item">
                    @if (route.isExternal) {
                        <a class="menu__item-link" [href]="route.path" target="_blank">
                            <span class="menu__item-icon" [style.maskImage]="'url(' + route.iconUrl + ')'" [style.webkitMaskImage]="'url(' + route.iconUrl + ')'"></span>
                            <span class="menu__item-text">{{route.label}}</span>
                        </a>
                    }
                    @else {               
                        <a class="menu__item-link" [routerLink]="'/' + route.path" routerLinkActive="menu__item-link--active" queryParamsHandling="preserve">
                            <span class="menu__item-icon" [style.maskImage]="'url(' + route.iconUrl + ')'" [style.webkitMaskImage]="'url(' + route.iconUrl + ')'"></span>
                            <span class="menu__item-text">{{route.label}}</span>
                        </a>
                    }
                </div>
            }
        }
        <ng-content select="additional-menu-item"></ng-content>
    </ul>
</div>