// Mixins & scss files
@use 'styles/index' as mixins;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Generic elements
* {
    font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-100, lightgrey) var(--neutral-100, white);
}

*::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

*::-webkit-scrollbar-track {
    background-color: var(--neutral-100, white);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-100, lightgrey);
    border-radius: 16px;
    border: none;
}

html,
body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    width: 100%;
}

button {
    cursor: pointer;
}

input,
app-input-autocomplete::part(input) {
    font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

app-input-autocomplete::part(option):hover,
app-input-autocomplete::part(option selected) {
    background-color: var(--primary-100);
}

// Variables
:root {
    font-size: 13px;
    color: var(--primary-900);

    --header-height: 48px;

    --primary-900: #060527;
    --primary-800: #06054D;
    --primary-700: #060468;
    --primary-600: #050385;
    --primary-500: #0300A2;
    --primary-400: #3B42B8;
    --primary-300: #7781CD;
    --primary-200: #B2BBE3;
    --primary-100: #EEEEFF;

    --neutral-900: #000000;
    --neutral-800: #373737;
    --neutral-700: #8F8F8F;
    --neutral-600: #A6A6A6;
    --neutral-500: #DDDDDD;
    --neutral-400: #E6E6E6;
    --neutral-300: #EEEEEE;
    --neutral-200: #F1F1F1;
    --neutral-100: #FFFFFF;

    /* Semantic - Error */
    --error-900: #7A0000;
    --error-800: #A00000;
    --error-700: #C62828;
    --error-600: #E53935;
    --error-500: #F44336;
    --error-400: #EF5350;
    --error-300: #E57373;
    --error-200: #EF9A9A;
    --error-100: #FFEBEE;

    /* Semantic - Success */
    --success-900: #1B5E20;
    --success-800: #2E7D32;
    --success-700: #388E3C;
    --success-600: #43A047;
    --success-500: #4CAF50;
    --success-400: #66BB6A;
    --success-300: #81C784;
    --success-200: #A5D6A7;
    --success-100: #E8F5E9;

    /* Semantic - Warning */
    --warning-900: #FF6F00;
    --warning-800: #F57C00;
    --warning-700: #FB8C00;
    --warning-600: #FFA000;
    --warning-500: #FFC107;
    --warning-400: #FFCA28;
    --warning-300: #FFD54F;
    --warning-200: #FFE082;
    --warning-100: #FFF8E1;
}

// Leaflet
.custom-leaflet-popup {
    .leaflet-popup-content {
        margin: 16px;
        min-width: 160px;
    }

    // .leaflet-popup-tip-container {
    //     display: none;
    // }
}

.leaflet-control-container {
    .leaflet-bottom .leaflet-control {
        margin-bottom: 16px !important;
    }

    .leaflet-left .leaflet-control {
        margin-left: 15px !important;
    }

    .leaflet-control.leaflet-bar {
        border: none !important;
    }

    .leaflet-control.leaflet-bar a {
        width: 40px !important;
        height: 40px !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .leaflet-bar a:first-child {
        border-top-left-radius: 8px !important;
        border-top-right-radius: 8px !important;
    }

    .leaflet-bar a:last-child {
        border-bottom-left-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
    }
}

@media screen and (max-width: 768px) {
    .leaflet-control-container {
        .leaflet-bottom .leaflet-control {
            margin-bottom: 64px !important;
        }
    }

    .leaflet-bar-timecontrol {
        display: flex;
        flex-wrap: wrap;
        width: calc(100dvw - 20px);
    }

    .leaflet-bar-timecontrol a.timecontrol-date {
        padding: 0;
    }

    .leaflet-control-timecontrol.timecontrol-slider.timecontrol-dateslider {
        flex: 1;
        display: flex;

        .slider {
            width: 100%;
        }
    }

    .leaflet-control-timecontrol.timecontrol-slider.timecontrol-speed {
        flex-basis: 100%;
        display: flex;

        .slider {
            flex: 1;
        }
    }
}