.settings-nav-menu {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.settings-links {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.setting-link {
    padding: 4px 8px;
    display: block;
    color: var(--primary-900, black);
    text-decoration: none;
}

.setting-link--active {
    color: var(--primary-500, blue);
    background-color: var(--primary-100, lightgrey);
    border-radius: 4px;
}