<div class="layer-legend">
    <div class="header">    
        <p>
            {{label()}}
            @if (unit()) { ({{unit()}}) }
        </p>
        <p>
            @if (date()) { {{date() | date: 'dd/MM/yyyy - HH:mm'}} }
        </p>
    </div>
    @if (imgUrl().length === 0) {    
        <div class="scale">
            <div class="scale__element scale__colors">
                @for (item of colors(); track $index) {
                    <div class="scale__color" [style.width]="colorWidth + '%'" [style.backgroundColor]="item" [style.borderColor]="(item === 'white' || item === '#ffffff' || item === '#FFFFFF') && '#e0e0e0'" (mouseenter)="onColorMouseEnter($index)" (mouseleave)="hoveredLabel=null"></div>
                }
            </div>

            <div class="scale__element scale__ticks">
                @if (labels().length === colors().length + 1) {
                    @for (label of labels(); track $index) {
                        <p class="scale__tick scale__tick--border" [style.display]="$index !== 0 && $index !== colors().length ? '' : 'none'" [style.left]="($index * tickStep) + '%'">{{label}}</p>
                    }
                }

                @if (labels().length === colors().length) {
                    @for (label of labels(); track $index) {
                        <p class="scale__tick scale__tick--center" [style.width]="colorWidth + '%'" [style.left]="($index * tickStep) + '%'">{{label}}</p>
                    }
                }
            </div>
        </div>
    }
    @else {
        <div class="img">
            <img [src]="imgUrl()">
        </div>
    }
    <!--
    @if (hoveredLabel) {
        <div class="tooltip" [style.left]="tooltipPosition + '%'">
            <p class="tooltip__label">{{hoveredLabel}}</p>
        </div>
    }
    -->
</div>